* {
    margin: 0;
    box-sizing: border-box;
}
.block {
    --shadow: 0 2px 4px rgba(0,0,0,0.4);
    height: 100vh;
    color: white;
    padding-top: 30vh;
    padding-left: 15vw;
    position: relative;
}
.background {
    background: #555 url('https://vsegda-pomnim.com/uploads/posts/2022-04/1648944534_13-vsegda-pomnim-com-p-gori-sneg-foto-20.jpg');
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:-1;
    filter: saturate(80%) brightness(70%);
}
.title {
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: 1vw;
    text-shadow: var(--shadow);
    position: relative;
}
.title::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -1.5vw;
    right: -4vw;
    height: 0.5vw;
    background-color: white;
    box-shadow: var(--shadow);
}